/* barre du haut */

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.header__topBar {
  border-bottom: 1px solid #e9e9e9;
  height: 59px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1.2rem 0;
}

.header__description {
  color: #868a8a;
  font-size: 1.15rem;
  line-height: 1.5;
}

.header__logo {
  width: 155px;
  height: 42px;
  margin: 10px 0;
}

.header__content {
  display: flex;
  gap: 50px;
  padding: 35px 0;
}

.header__image {
  width: 350px;
  border-radius: 5px;
}

main .container {
  display: flex;
}

.basket {
  position: sticky;
  top: 30px;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-top: 30px;
}

.basket__validation {
  background-color: #bac3c3;
  color: #8b9a9b;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 1rem;
  cursor: not-allowed;
}

.validation-allowed {
  background-color: #00cdbd;
  color: white;
  cursor: auto;
}

.basket__empty {
  color: #868a8a;
  padding: 3rem 0;
  text-align: center;
}

.basket__items {
  padding: 0 1rem;
}

.basket__item {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}

.basket__item-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.basket__item-btn {
  border-radius: 50%;
  color: #00cdbd;
  border: #00cdbd solid 2px;
  background-color: white;
}

.basket__item-count {
  margin: 0 5px;
}

.basket__item-desc {
  display: flex;
  justify-content: space-between;
}

.basket__item-name {
  width: 10rem;
}

.basket__item-price {
  text-align: right;
  width: 85px;
}

.basket__subtotal {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 1rem;
}

.basket__subtotal-line {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.basket__total {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin: 1rem 0;
}

main {
  background-color: #f3f5f5;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 96vw;
}

.category {
  margin-bottom: 2rem;
}

.category__meals {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.meal {
  display: flex;
  width: 400px;
  height: 160px;
  background-color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  justify-content: space-between;
}

.meal:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}

.meal__content {
  margin-right: 1rem;
}

.meal__title {
  font-size: 1.17em;
  margin-bottom: 0.5rem;
}

.meal__description {
  color: rgb(128, 132, 132);
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  height: 2.6rem;
  overflow: hidden;
}

.meal__meta {
  display: flex;
}

.meal__price {
  color: rgb(128, 132, 132);
  font-size: 1rem;
}

.meal__badge {
  display: flex;
  color: #ff8000;
}

.meal__badge-icon {
  margin: 0 1rem;
}

.meal__badge-text {
  font-weight: 700;
  /* margin-left: 1rem; */
}

.meal__image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 640px) {
  .container,
  .header__content {
    flex-direction: column;
  }

  .basket {
    width: 96vw;
  }
}
